<a href="https://colab.research.google.com/github/SRSubash/Data-Analyst-Internship/blob/main/data_analyst_intern.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import pandas as pd
file_path ="/content/car_prices.csv"
df = pd.read_csv(file_path)
df.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [46]:
print("Dataset shape:", df.shape)

Dataset shape: (558837, 16)

In [47]:
print(df.dtypes)

year              int64
make             object
model            object
trim             object
body             object
transmission     object
vin              object
state            object
condition       float64
odometer        float64
color            object
interior         object
seller           object
mmr             float64
sellingprice    float64
saledate         object
dtype: object

In [49]:
print(df.isnull().sum())

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65352
vin                 4
state               0
condition       11820
odometer           94
color             749
interior          749
seller              0
mmr                38
sellingprice       12
saledate           12
dtype: int64

In [50]:
print(df.describe(include='all'))

                 year    make   model    trim    body transmission        vin  \
count   558837.000000  548536  548438  548186  545642       493485     558833
unique            NaN      96     973    1963      87            4     550297
top               NaN    Ford  Altima    Base   Sedan    automatic  automatic
freq              NaN   93554   19349   55817  199437       475915         22
mean      2010.038927     NaN     NaN     NaN     NaN          NaN        NaN
std          3.966864     NaN     NaN     NaN     NaN          NaN        NaN
min       1982.000000     NaN     NaN     NaN     NaN          NaN        NaN
25%       2007.000000     NaN     NaN     NaN     NaN          NaN        NaN
50%       2012.000000     NaN     NaN     NaN     NaN          NaN        NaN
75%       2013.000000     NaN     NaN     NaN     NaN          NaN        NaN
max       2015.000000     NaN     NaN     NaN     NaN          NaN        NaN

         state      condition       odometer   color interior  \
count   558837  547017.000000  558743.000000  558088   558088
unique      64            NaN            NaN      46       17
top         fl            NaN            NaN   black    black
freq     82945            NaN            NaN  110970   244329
mean       NaN      30.672365   68320.017767     NaN      NaN
std        NaN      13.402832   53398.542821     NaN      NaN
min        NaN       1.000000       1.000000     NaN      NaN
25%        NaN      23.000000   28371.000000     NaN      NaN
50%        NaN      35.000000   52254.000000     NaN      NaN
75%        NaN      42.000000   99109.000000     NaN      NaN
max        NaN      49.000000  999999.000000     NaN      NaN

                    seller            mmr   sellingprice  \
count               558837  558799.000000  558825.000000
unique               14263            NaN            NaN
top     nissan-infiniti lt            NaN            NaN
freq                 19693            NaN            NaN
mean                   NaN   13769.377495   13611.358810
std                    NaN    9679.967174    9749.501628
min                    NaN      25.000000       1.000000
25%                    NaN    7100.000000    6900.000000
50%                    NaN   12250.000000   12100.000000
75%                    NaN   18300.000000   18200.000000
max                    NaN  182000.000000  230000.000000

                                       saledate
count                                    558825
unique                                     3766
top     Tue Feb 10 2015 01:30:00 GMT-0800 (PST)
freq                                       5334
mean                                        NaN
std                                         NaN
min                                         NaN
25%                                         NaN
50%                                         NaN
75%                                         NaN
max                                         NaN

In [51]:
for col in df.columns:
    if df[col].dtype == 'object':
        df[col] = df[col].fillna(df[col].mode()[0])
    else:
        df[col] = df[col].fillna(df[col].mean())

In [52]:
for col in df.columns:
    if df[col].dtype in ['float64', 'int64']:
        df[col] = df[col].fillna(df[col].mean())
    else:
        df[col] = df[col].fillna(df[col].mode()[0])

In [53]:
print(df_cleaned.isnull().sum())

Year                  0
Make                  0
Model                 0
Trim                  0
Body                  0
Transmission          0
Vin                   0
State                 0
Condition             0
Odometer              0
Color                 0
Interior              0
Seller                0
Mmr                   0
Sellingprice          0
Saledate              0
Saledate_Formatted    0
dtype: int64

In [54]:
print(df.isnull().sum())

year            0
make            0
model           0
trim            0
body            0
transmission    0
vin             0
state           0
condition       0
odometer        0
color           0
interior        0
seller          0
mmr             0
sellingprice    0
saledate        0
dtype: int64

In [55]:
df_cleaned = df.copy()

In [56]:
print(df_cleaned.drop_duplicates())

        year    make                model         trim       body  \
0       2015     Kia              Sorento           LX        SUV
1       2015     Kia              Sorento           LX        SUV
2       2014     BMW             3 Series   328i SULEV      Sedan
3       2015   Volvo                  S60           T5      Sedan
4       2014     BMW  6 Series Gran Coupe         650i      Sedan
...      ...     ...                  ...          ...        ...
558832  2015     Kia                 K900       Luxury      Sedan
558833  2012     Ram                 2500  Power Wagon   Crew Cab
558834  2012     BMW                   X5    xDrive35d        SUV
558835  2015  Nissan               Altima        2.5 S      sedan
558836  2014    Ford                F-150          XLT  SuperCrew

       transmission                vin state  condition  odometer   color  \
0         automatic  5xyktca69fg566472    ca        5.0   16639.0   white
1         automatic  5xyktca69fg561319    ca        5.0    9393.0   white
2         automatic  wba3c1c51ek116351    ca       45.0    1331.0    gray
3         automatic  yv1612tb4f1310987    ca       41.0   14282.0   white
4         automatic  wba6b2c57ed129731    ca       43.0    2641.0    gray
...             ...                ...   ...        ...       ...     ...
558832    automatic  knalw4d4xf6019304    in       45.0   18255.0  silver
558833    automatic  3c6td5et6cg112407    wa        5.0   54393.0   white
558834    automatic  5uxzw0c58cl668465    ca       48.0   50561.0   black
558835    automatic  1n4al3ap0fc216050    ga       38.0   16658.0   white
558836    automatic  1ftfw1et2eke87277    ca       34.0   15008.0    gray

       interior                                             seller      mmr  \
0         black                            kia motors america  inc  20500.0
1         beige                            kia motors america  inc  20800.0
2         black             financial services remarketing (lease)  31900.0
3         black                            volvo na rep/world omni  27500.0
4         black             financial services remarketing (lease)  66000.0
...         ...                                                ...      ...
558832    black                                   avis corporation  35300.0
558833    black                                    i -5 uhlmann rv  30200.0
558834    black             financial services remarketing (lease)  29800.0
558835    black  enterprise vehicle exchange / tra / rental / t...  15100.0
558836     gray                   ford motor credit company llc pd  29600.0

        sellingprice                                 saledate
0            21500.0  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1            21500.0  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2            30000.0  Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3            27750.0  Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4            67000.0  Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...              ...                                      ...
558832       33000.0  Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833       30800.0  Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834       34000.0  Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835       11100.0  Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836       26700.0  Thu May 28 2015 05:30:00 GMT-0700 (PDT)

[558837 rows x 16 columns]

In [57]:
df_cleaned['model'] = df_cleaned['model'].str.lower().str.strip()
df_cleaned['make'] = df_cleaned['make'].str.title().str.strip()

In [58]:
df_cleaned['year'] = df_cleaned['year'].astype(int)

In [59]:

df_cleaned.columns = df_cleaned.columns.str.strip()
df_cleaned['saledate'] = pd.to_datetime(df_cleaned['saledate'], errors='coerce', utc=True)
df_cleaned['saledate'] = df_cleaned['saledate'].dt.strftime("%d-%m-%Y")
print(df_cleaned[df_cleaned['saledate'].isna()])

/tmp/ipython-input-1130408790.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_cleaned['saledate'] = pd.to_datetime(df_cleaned['saledate'], errors='coerce', utc=True)

        year        make  model                    trim         body  \
408161  2015  Volkswagen  jetta  SE PZEV w/Connectivity  Navitgation
417835  2015  Volkswagen  jetta  SE PZEV w/Connectivity  Navitgation
421289  2015  Volkswagen  jetta  SE PZEV w/Connectivity  Navitgation
424161  2015  Volkswagen  jetta  SE PZEV w/Connectivity  Navitgation
427040  2015  Volkswagen  jetta  SE PZEV w/Connectivity  Navitgation
427043  2015  Volkswagen  jetta  SE PZEV w/Connectivity  Navitgation
434424  2015  Volkswagen  jetta  SE PZEV w/Connectivity  Navitgation
444501  2015  Volkswagen  jetta  SE PZEV w/Connectivity  Navitgation
453794  2015  Volkswagen  jetta  SE PZEV w/Connectivity  Navitgation
461597  2015  Volkswagen  jetta  SE PZEV w/Connectivity  Navitgation
461612  2015  Volkswagen  jetta  SE PZEV w/Connectivity  Navitgation
492484  2015  Volkswagen  jetta  SE PZEV w/Connectivity  Navitgation
497008  2015  Volkswagen  jetta  SE PZEV w/Connectivity  Navitgation
497011  2015  Volkswagen  jetta  SE PZEV w/Connectivity  Navitgation
499083  2015  Volkswagen  jetta  SE PZEV w/Connectivity  Navitgation
501455  2015  Volkswagen  jetta  SE PZEV w/Connectivity  Navitgation
505299  2015  Volkswagen  jetta  SE PZEV w/Connectivity  Navitgation
505306  2015  Volkswagen  jetta  SE PZEV w/Connectivity  Navitgation
520461  2015  Volkswagen  jetta  SE PZEV w/Connectivity  Navitgation
528996  2015  Volkswagen  jetta  SE PZEV w/Connectivity  Navitgation
529009  2015  Volkswagen  jetta  SE PZEV w/Connectivity  Navitgation
529013  2015  Volkswagen  jetta  SE PZEV w/Connectivity  Navitgation
529622  2015  Volkswagen  jetta  SE PZEV w/Connectivity  Navitgation
548784  2015  Volkswagen  jetta  SE PZEV w/Connectivity  Navitgation
551222  2015  Volkswagen  jetta  SE PZEV w/Connectivity  Navitgation
554710  2015  Volkswagen  jetta  SE PZEV w/Connectivity  Navitgation

       transmission        vin              state  condition  odometer  color  \
408161        Sedan  automatic  3vwd17aj4fm201708  30.672365      46.0   4802
417835        Sedan  automatic  3vwd17aj2fm258506  30.672365       1.0   9410
421289        Sedan  automatic  3vwd17aj3fm276741  30.672365      46.0   1167
424161        Sedan  automatic  3vwd17aj2fm285365  30.672365       1.0   2172
427040        Sedan  automatic  3vwd17aj0fm227318  30.672365      41.0  14872
427043        Sedan  automatic  3vwd17aj6fm218641  30.672365      49.0  12655
434424        Sedan  automatic  3vwd17aj7fm223475  30.672365      46.0  15719
444501        Sedan  automatic  3vwd17aj5fm297123  30.672365       2.0   6388
453794        Sedan  automatic  3vwd17aj5fm219943  30.672365      44.0  16633
461597        Sedan  automatic  3vwd17aj9fm219766  30.672365      44.0  11034
461612        Sedan  automatic  3vwd17aj3fm259017  30.672365      46.0   2711
492484        sedan  automatic  3vwd17aj5fm206111  30.672365       2.0   6864
497008        sedan  automatic  3vwd17aj5fm273601  30.672365      28.0    339
497011        sedan  automatic  3vwd17aj5fm221322  30.672365      48.0  18384
499083        sedan  automatic  3vwd17aj5fm268964  30.672365       2.0   9887
501455        sedan  automatic  3vwd17aj6fm231972  30.672365      38.0   9837
505299        sedan  automatic  3vwd17aj7fm222388  30.672365      36.0  20379
505306        sedan  automatic  3vwd17aj7fm218440  30.672365      42.0  20627
520461        sedan  automatic  3vwd17ajxfm315938  30.672365       1.0    721
528996        sedan  automatic  3vwd17aj7fm229552  30.672365      38.0   6158
529009        sedan  automatic  3vwd17aj8fm298895  30.672365       2.0   2817
529013        sedan  automatic  3vwd17aj4fm236636  30.672365       5.0   5705
529622        sedan  automatic  3vwd17aj5fm225953  30.672365      41.0  18561
548784        sedan  automatic  3vwd17aj7fm326640  30.672365       2.0   2846
551222        sedan  automatic  3vwd17aj8fm239622  30.672365       2.0   9562
554710        sedan  automatic  3vwd17aj2fm261566  30.672365      48.0   5001

       interior seller           mmr  sellingprice saledate
408161   silver   gray  13769.377495       13200.0      NaN
417835    white   gray  13769.377495       13300.0      NaN
421289     blue  black  13769.377495       13200.0      NaN
424161     gray  black  13769.377495       14050.0      NaN
427040     gray  black  13769.377495       13700.0      NaN
427043      red  black  13769.377495       13850.0      NaN
434424     blue  black  13769.377495       13650.0      NaN
444501    white  black  13769.377495       13850.0      NaN
453794   silver  black  13769.377495       13600.0      NaN
461597    black  black  13769.377495       13900.0      NaN
461612    white  black  13769.377495       14250.0      NaN
492484     gray  black  13769.377495       14000.0      NaN
497008    black  black  13769.377495       14300.0      NaN
497011   silver  black  13769.377495       13550.0      NaN
499083      red  black  13769.377495       13900.0      NaN
501455      red  black  13769.377495       13500.0      NaN
505299   silver  black  13769.377495       13600.0      NaN
505306    white  black  13769.377495       13600.0      NaN
520461     blue   gray  13769.377495       14100.0      NaN
528996    black  black  13769.377495       13650.0      NaN
529009      red  black  13769.377495       13750.0      NaN
529013        â€”  black  13769.377495       13400.0      NaN
529622    black  black  13769.377495       13200.0      NaN
548784     blue  black  13769.377495       13600.0      NaN
551222   silver  black  13769.377495       13200.0      NaN
554710     blue   gray  13769.377495       13400.0      NaN

In [60]:
print(df_cleaned.saledate)

0         16-12-2014
1         16-12-2014
2         14-01-2015
3         28-01-2015
4         18-12-2014
             ...
558832    09-07-2015
558833    08-07-2015
558834    08-07-2015
558835    08-07-2015
558836    27-05-2015
Name: saledate, Length: 558837, dtype: object

In [61]:
df_cleaned.rename(columns=lambda x: x.strip().title().replace("", ""), inplace=True)

In [62]:
print(df_cleaned)

        Year    Make                Model         Trim       Body  \
0       2015     Kia              sorento           LX        SUV
1       2015     Kia              sorento           LX        SUV
2       2014     Bmw             3 series   328i SULEV      Sedan
3       2015   Volvo                  s60           T5      Sedan
4       2014     Bmw  6 series gran coupe         650i      Sedan
...      ...     ...                  ...          ...        ...
558832  2015     Kia                 k900       Luxury      Sedan
558833  2012     Ram                 2500  Power Wagon   Crew Cab
558834  2012     Bmw                   x5    xDrive35d        SUV
558835  2015  Nissan               altima        2.5 S      sedan
558836  2014    Ford                f-150          XLT  SuperCrew

       Transmission                Vin State  Condition  Odometer   Color  \
0         automatic  5xyktca69fg566472    ca        5.0   16639.0   white
1         automatic  5xyktca69fg561319    ca        5.0    9393.0   white
2         automatic  wba3c1c51ek116351    ca       45.0    1331.0    gray
3         automatic  yv1612tb4f1310987    ca       41.0   14282.0   white
4         automatic  wba6b2c57ed129731    ca       43.0    2641.0    gray
...             ...                ...   ...        ...       ...     ...
558832    automatic  knalw4d4xf6019304    in       45.0   18255.0  silver
558833    automatic  3c6td5et6cg112407    wa        5.0   54393.0   white
558834    automatic  5uxzw0c58cl668465    ca       48.0   50561.0   black
558835    automatic  1n4al3ap0fc216050    ga       38.0   16658.0   white
558836    automatic  1ftfw1et2eke87277    ca       34.0   15008.0    gray

       Interior                                             Seller      Mmr  \
0         black                            kia motors america  inc  20500.0
1         beige                            kia motors america  inc  20800.0
2         black             financial services remarketing (lease)  31900.0
3         black                            volvo na rep/world omni  27500.0
4         black             financial services remarketing (lease)  66000.0
...         ...                                                ...      ...
558832    black                                   avis corporation  35300.0
558833    black                                    i -5 uhlmann rv  30200.0
558834    black             financial services remarketing (lease)  29800.0
558835    black  enterprise vehicle exchange / tra / rental / t...  15100.0
558836     gray                   ford motor credit company llc pd  29600.0

        Sellingprice    Saledate
0            21500.0  16-12-2014
1            21500.0  16-12-2014
2            30000.0  14-01-2015
3            27750.0  28-01-2015
4            67000.0  18-12-2014
...              ...         ...
558832       33000.0  09-07-2015
558833       30800.0  08-07-2015
558834       34000.0  08-07-2015
558835       11100.0  08-07-2015
558836       26700.0  27-05-2015

[558837 rows x 16 columns]

In [63]:
df_cleaned.to_csv("/content/cleaned_dataset.csv", index=False)

In [64]:
print(df_cleaned.columns.tolist())

['Year', 'Make', 'Model', 'Trim', 'Body', 'Transmission', 'Vin', 'State', 'Condition', 'Odometer', 'Color', 'Interior', 'Seller', 'Mmr', 'Sellingprice', 'Saledate']